* {
  margin: 0;
  padding: 0;
}
.span-color {
  color: tomato;
}
.half-width {
  width: 25%;
  float: left;
  margin-left: 5%;
  padding-left: 4%;
}
.half-width img {
  width: 100%;
}
section {
  height: 700px;
}
#fast-part-written {
  text-align: center;
  padding: 2%;
}
.button-style {
  color: white;
  background-color: tomato;
  border-radius: 10px;
  width: 150px;
  padding: 2%;
}

#fast-image {
  background-image: url("./images/shapes/7.png");
  background-repeat: no-repeat;
  background-size: cover;
}
section {
  height: 745px;
  padding: 5px;
}
.recipies {
  text-align: center;
}
.fast-cart {
  width: 32%;
  height: 80%;
  margin: 10px;
  display: inline-block;
  box-sizing: border-box;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 2%;
  border-radius: 4%;
}
.img-style {
  width: 100%;
  border-radius: 5px;
}

.last-part {
  text-align: center;
  background-color: black;
  color: white;
  padding: 5px;
  align-items: center;
  size: 100%;
}
.food-color {
  color: red;
}
.food-last {
  color: slategrey;
}
